# Configurações de Banco de Dados MySQL (payment-billing-service)
DB_HOST=localhost
DB_PORT=3308
DB_NAME=payment_db
DB_USERNAME=oficina_user
DB_PASSWORD=oficina_pass

# Configurações de Mensageria (RabbitMQ)
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Configurações do Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=TEST-TOKEN
MERCADO_PAGO_NOTIFICATION_URL=http://localhost:8081/api/payments/webhook

# Configurações Gerais
PORT=8081
APP_BASE_URL=http://localhost:8081