# Configurações de Banco de Dados MySQL (payment-billing-service)
DB_HOST=mysql-payment
DB_PORT=3306
DB_NAME=payment_db
DB_USERNAME=oficina_user
DB_PASSWORD=oficina_pass
MYSQL_ROOT_PASSWORD=root_password

# Configurações de Mensageria (RabbitMQ)
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Configurações do Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=TEST-TOKEN
MERCADO_PAGO_NOTIFICATION_URL=https://api.oficina.com/api/payments/webhook
RESEND_API_KEY=re_placeholder
RESEND_FROM_EMAIL=oficina@fabrincahub.com

# Configurações Gerais
PORT=8081
APP_BASE_URL=https://api.oficina.com
